body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border:dotted #40514E 4px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #75daad;
  position: relative;
  padding-top: 100px;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
background-color: #75daad;
padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.kobi-pic {
  width: 20%;
}

.comp-pic {
width: 25%;
float: left;
margin-right: 30px
}

.bass-pic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.web {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  font-size: 0.75;
  color: #eaf6f6;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
	box-shadow:inset 0px 13px 16px -6px #11999e;
	background-color:#44c767;
	border-radius:16px;
	border:5px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.btn:hover {
	background-color:#11cdd4;
}
.btn:active {
	position:relative;
	top:1px;
}
